body {
    font-family: Arial, sans-serif;
    display: flex;
}
.container {
    display: flex;
    width: 100%;
    padding: 20px;
}

.sidebar {
    width: 200px;
    padding: 40px;
    border-right: 1px solid #ddd;
}
.sidebar h3 {
    margin-top: 0;
}
.sidebar input,
.sidebar button,
.sidebar select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.content {
    flex-grow: 1;
    padding-left: 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}

#money-bar {
    display: flex;
    width: 100%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.money-pot {
    height: 100%;
    display: flex;
    position: relative;
    transition: width 0.5s;
    cursor: grab; /* Hand cursor when hovering */
}

.money-pot:active {
    cursor: grabbing; /* Grabbing cursor when clicked */
}

.actual-value {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.money-pot:not(:first-child) {
    margin-left: 2px;
}

.remaining {
    background-color: #A9A9A9;
}

.delete-btn {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}